<!DOCTYPE html>
<html>
<head>
  <title>MayakGenerator</title>
  <%= stylesheet_link_tag    "mayak_generator/application", media: "all" %>
  <%= javascript_include_tag "mayak_generator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
